* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #555;
    --text-color-2: #8a8a8a;
    --highlight-color: #ff523b;
    --dark-highlight-color: #563434;
    --bg-color: #ffd6d6;
}

.navbar {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    /* position: sticky;
    top: 0; */
    left: 0;
    z-index: 10;
    background: #8EC5FC;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    padding-right: 30px;
    padding-left: 30px;
}

nav ul li a:hover,nav ul li a:hover{
    background-color: #000;
    color: #fff;
    padding: 30px;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}



.col-2 p,.col-2 h1 {
    color: #fff;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.flip{
    margin-top: 0px;
}

.button {
    display: inline-block;
    background: #67a5e2;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5;
}

.button:hover {
    background: transparent;
    color: #67a5e2;
    border: 2px solid #67a5e2;
}

.header {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
}

.icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* --------------    Slider     ----------------- */


.carousel {
  width:100vw;
  height:90vh;
}

.carousel-inner img {
  height:90vh;
  object-fit: cover;
  object-position:top;
}




/* ---------------------         Featured category      ----------------------- */
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: var(--text-color);
}

.title::after {
    content: '';
    background: var(--highlight-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}


/* ________________  Categories   ______________________ */
.hovereffect {
    width:100%;
    height:300px;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }

    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }

    .hovereffect img {
    width: 100%;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }

    .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }

    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:80px 0 0;
    padding:7px 14px;
    }

    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }

    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }

    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }

    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }

    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }



    /* ---------------------------------------- */
    .product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:5px 0;margin-bottom:80px;list-style:none;position:relative;z-index:5}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}


/* -------------- testimonial --------------- */

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: var(--highlight-color);
}

.rating .fa {
    color: var(--highlight-color);
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: var(--text-color);
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 16px;
}

/* ---------------- footer------------ */

.footer {
    background: #000;
    color: var(--text-color-2);
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: var(--text-color-2);
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 120px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.footer a:hover{
    color: rgb(231, 85, 85);
}


/* ----------------     Animations          ------------------------ */
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 9s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 3s;
    left: 90vw;
    top: 80vh;
  }
  .cube:nth-child(5) {
    animation-delay: 6s;
    left: 10vw;
    top: 85vh;
  }

  .cube:nth-child(7) {
    animation-delay: 1s;
    left: 60vw;
    top: 30vh;
  }

  /* Animate Background*/
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
      z-index: 50;
    }
    to {
      transform: scale(5) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
      z-index: 50;
    }
  }

/* ----- media query for menu -------- */


/* ----- media query for less than 600 screen size ---------- */

@media only screen and (max-width:600px) {
    .row {
        align-items: center;
    }
    .flip{
        margin-top: 100px;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p {
        display: none;
    }
}


